@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/* Global styles */
body {
    font-family: 'Roboto', sans-serif;
}

/* base.html */
/* Navbar */
nav ul a {
    color:black;
}

.logo {
    font-weight: 700;
}

.fa-angle-down {
    height: 24px;
    font-size: 15px;
}

.nav-divider {
    height: 10px;
}

/* Footer */
footer {
    border-top: 5px solid #4fc3f7;
}

footer li a {
    color: black;
}

footer li a:hover {
    color: red;
}

h5 {
    margin-bottom: 0;
    font-weight: 700;
}

footer .row {
    margin-bottom: 0;
}

.footer-bottom p {
    margin: 0;
}

/* Registration */
.icon-holder {
    font-size: 45px;
}

.card-panel {
    margin: 0;
}

.img-holder {
    height: 137px;
    background: grey;
}

/* Add ad */
.tab-top {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid black;
}

.tab-bottom {
    padding-top: 15px;
    padding-bottom: 0;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.tab-bottom .row {
    margin: 0px;
}

.tab-bottom .row .input-field {
    margin: 0;
}