@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/* Global styles */
body {
    font-family: 'Roboto', sans-serif;
}

/* base.html */
/* Navbar */
nav {
    margin-bottom: 20px;
}
nav ul a {
    color:black;
}

.logo {
    font-weight: 700;
}

.fa-angle-down {
    height: 24px;
    font-size: 15px;
}

.nav-divider {
    height: 10px;
}

/* Footer */
footer {
    border-top: 5px solid #4fc3f7;
}

footer li a {
    color: black;
}

footer li a:hover {
    color: red;
}

h5 {
    font-weight: 700;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer .row {
    margin-bottom: 0;
}

.footer-bottom p {
    margin: 0;
}

/* ads.html */
.categories {
    margin-bottom: 50px;
}

.main-ad-holder {
    padding: 10px;
}

.col .row {
    margin: 0;
}

.ad-img-holder {
    height: 140px;
}

.ad-img-holder img {
object-fit: cover;
height: 140px;
width: 100%;
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

/* Registration */
.icon-holder {
    font-size: 45px;
}

.card-panel {
    margin: 0;
}

/* view_ad.html */
.view-img {
    width: 320px;
    height: 320px;
}

.m-bottom {
    margin: 0;
}

/* Add ad */
.tab-top {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid black;
}

.tab-bottom {
    padding-bottom: 0;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}