/* Footer */
.footer-bottom p {
    margin: 0;
}

/* Registration */
.icon-holder {
    font-size: 45px;
}

.card-panel {
    margin: 0;
}

.img-holder {
    height: 137px;
    background: grey;
}

/* Add ad */
.tab-top {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid black;
}

.tab-bottom {
    padding-top: 15px;
    padding-bottom: 0;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.tab-bottom .row {
    margin: 0px;
}

.tab-bottom .row .input-field {
    margin: 0;
}