@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/*------------------------------------------- Global styles */
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

  main {
    flex: 1 0 auto;
  }

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.mb-0 {
    margin-bottom: 0;
}

.mt-0 {
    margin-top: 0;
}

.pb-0 {
    padding-bottom: 0;
}

.pt-0 {
    padding-top: 0;
}

.page-nav {
    margin-bottom: 50px;
    margin-top: 50px;
}

/*------------------------------------------- base.html */
/* Navbar */
nav {
    margin-bottom: 20px;
}
nav ul a {
    color:black;
}

.logo {
    font-weight: 700;
}

.fa-angle-down {
    height: 24px;
    font-size: 15px;
}

.nav-divider {
    height: 10px;
}

/* Footer */
footer {
    border-top: 3px solid #4fc3f7;
    margin-top: 50px;
}

.join-us li a {
    font-size: 25px;
}

footer li a {
    color: black;
}

footer li a:hover {
    color: red;
}

h5 {
    font-weight: 700;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

hr {
    background-color: red;
    border: 1px solid red;
}

.footer-bottom p {
    padding-top: 5px;
    padding-bottom: 5px;
}

/*------------------------------------------- ads.html */
/* Categories */
.icon-holder {
    font-size: 45px;
}

.categories {
    margin-bottom: 50px;
}
/* Recent ads */
#col-padding {
    padding-left: 5px;
    padding-right: 5px;
}

.col-margin {
    margin-top: 5px;
    margin-bottom: 5px;
}

.main-ad-holder {
    padding: 10px;
}

.col .row {
    margin: 0;
}

.ad-img-holder {
    height: 140px;
}

.ad-img-holder img {
object-fit: cover;
height: 140px;
width: 100%;
}

/*------------------------------------------- register.html / login.html*/
.card-panel {
    margin: 0;
}

/*------------------------------------------- view_ad.html */
.view-img {
    width: 100%;
    height: 320px;
}

.tab-top-report {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid red;
}

.tab-bottom-report {
    padding-bottom: 0;
    border-left: 1px solid red;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
    margin-bottom: 10px;
}

.del-rep {
    margin-top: 10px;
    margin-bottom: 10px;
}

.ol-reports li {
    padding-top: 10px;
}
/*------------------------------------------- add_ad.html */
.tab-top {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid black;
}

.tab-bottom {
    padding-bottom: 0;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

/* view_category.html */
.fa-chevron-right {
    font-size: 12px;
}

/* control_panel.html */
td, th {
    padding: 0;
}

tr:hover {
    background: #eeeeee;
}

.btn-small {
    height: 20px;
    line-height: 20px;
    font-size: 10px;
}