{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="row mb-0 center-align">
        <div class="col s12">
            <img class="left" src="{{url_for('static', filename='images/rambo.png')}}" alt="rambo" />
            <div class="big-text mb-0 mt-0">404</div>
            <h5 class="pt-0">The page you were looking for was not found. It might have been removed, renamed, or did not exist in the first place.</h5>
            <h5 class="pt-0 pb-0">Let's go <a href="{{ url_for('get_ads') }}">Home</a> solder.</h5>
        </div>
    </div>
</div>
{% endblock %}