{% extends 'base.html' %}
{% block content %}

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_ad') }}" enctype="multipart/form-data">
        <!-- Category -->
        <div class="card-panel grey lighten-2 tab-top">
            <h6><strong>Category:</strong></h6>
        </div>
        <div class="card-panel tab-bottom">
            <div class="row">
                <div class="input-field col s12">
                    <i class="far fa-folder-open prefix"></i>
                    <select id="category" name="category" class="validate" required>
                        <option value="" disabled selected>Categories:</option>
                        {% for category in categories %}
                        <option value="{{ category.category }}">{{ category.category }}</option>
                        {% endfor %}
                    </select>
                    <label for="category">Select item category:</label>
                </div>
            </div>
        </div>
        <!-- Description -->
        <div class="card-panel grey lighten-2 tab-top">
            <h6><strong>Description:</strong></h6>
        </div>
        <div class="card-panel tab-bottom">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pen-alt prefix"></i>
                    <input id="title" name="title" type="text" class="validate" minlength="5" maxlength="20"
                        data-length="20" required>
                    <label for="title">Ad title:</label>
                </div>
                <div class="input-field col s12">
                    <i class="far fa-file-alt prefix"></i>
                    <textarea id="description" name="description" class="validate materialize-textarea" minlength="10"
                        maxlength="300" data-length="300" required></textarea>
                    <label for="description">Describe your item:</label>
                </div>
            </div>
        </div>
        <!-- Photo -->
        <div class="card-panel grey lighten-2 tab-top">
            <h6><strong>Photo:</strong></h6>
        </div>
        <div class="card-panel tab-bottom">
            <div class="row">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>File</span>
                        <input type="file" id="item_image" name="item_image">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload item image">
                    </div>
                </div>
                <p><span class="red-text">*</span>Ads with pictures are selling 5 times faster!</p>
            </div>
        </div>
        <!-- Payment -->
        <div class="card-panel grey lighten-2 tab-top">
            <h6><strong>Payment:</strong></h6>
        </div>
        <div class="card-panel tab-bottom">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-euro-sign prefix"></i>
                    <input id="price" name="price" type="number" class="validate" minlength="1" maxlength="5"
                        data-length="20" required>
                    <label for="price">Item price:</label>
                </div>
                <div class="input-field col s12">
                    <select id="payment" name="payment" class="validate" required>
                        <option value="" disabled selected>Preferred payment method:</option>
                        <option value="1">Cash</option>
                        <option value="2">PayPal</option>
                        <option value="3">Crypto</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- Contact -->
        <div class="card-panel grey lighten-2 tab-top">
            <h6><strong>Contact:</strong></h6>
        </div>
        <div class="card-panel tab-bottom">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-map-marker-alt prefix"></i>
                    <select id="location" name="location" class="validate" required>
                        <option value="" disabled selected>Locations:</option>
                        <option value="1">Dublin</option>
                        <option value="2">Cork</option>
                        <option value="3">Galway</option>
                    </select>
                    <label for="location">Select item location:</label>
                </div>
                <div class="input-field col s12">
                    <i class="fas fa-phone prefix"></i>
                    <input id="phone" name="phone" type="number" class="validate" minlength="1" maxlength="5"
                        data-length="20" required>
                    <label for="phone">Seller phone number:</label>
                </div>
            </div>
        </div>
        <!-- Quick sale -->
        <div class="card-panel grey lighten-2 tab-top">
            <h6><strong>Quick sale? <i class="fas fa-hammer yellow-text text-accent-4"></i></strong></h6>
        </div>
        <div class="card-panel tab-bottom">
            <div class="row">
                <div class="input-field col s12">
                    <p>
                        <label for="urgent">
                            <input type="checkbox" id="urgent" name="urgent" />
                            <span>Let others know you will accept lower offer for quick sale.</span>
                        </label>
                    </p>
                </div>
            </div>
        </div>
        <!-- Submit button -->
        <div class="row center-align">
            <button class="btn waves-effect waves-light" type="submit">Submit
                <i class="far fa-paper-plane"></i>
            </button>
        </div>
    </form>
</div>

{% endblock %}