{% extends 'base.html' %} {% block content %}
<!-- Page nav -->
<div class="grey lighten-4">
    <div class="container">
        <div class="row page-nav">
            <h6 class="mb-0 mt-0"><a href="{{ url_for('get_ads') }}">Home</a> <i class="fas fa-chevron-right"></i> Place Ad</h6>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mb-0">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_ad') }}" enctype="multipart/form-data">
            <!-- Category -->
            <span class="red-text">* </span><span>Are required</span>
            <div class="card-panel grey lighten-2 tab-top">
                <h6>
                    <strong>Category:<span class="red-text">*</span></strong>
                </h6>
            </div>
            <div class="card-panel tab-bottom">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="far fa-folder-open prefix"></i>
                        <select id="category" name="category" class="validate" required>
                            <option value="" disabled selected>Categories:</option>
                            {% for category in categories %}
                            <option value="{{ category.category }}">{{ category.category }}</option>
                            {% endfor %}
                        </select>
                        <label for="category">Select item category:</label>
                    </div>
                </div>
            </div>
            <!-- Description -->
            <div class="card-panel grey lighten-2 tab-top">
                <h6>
                    <strong>Description:<span class="red-text">*</span></strong>
                </h6>
            </div>
            <div class="card-panel tab-bottom">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pen-alt prefix"></i>
                        <input id="title" name="title" type="text" class="validate" minlength="5" maxlength="20" data-length="20" required />
                        <label for="title">Ad title:</label>
                        <span class="helper-text" data-success="right">Minimum 5 characters</span>
                    </div>
                    <div class="input-field col s12">
                        <i class="far fa-file-alt prefix"></i>
                        <textarea id="description" name="description" class="validate materialize-textarea" minlength="10" maxlength="300" data-length="300" required></textarea>
                        <label for="description">Describe your item:</label>
                        <span class="helper-text" data-success="right">Minimum 10 characters</span>
                    </div>
                </div>
            </div>
            <!-- Photo -->
            <div class="card-panel grey lighten-2 tab-top">
                <h6><strong>Photo:</strong></h6>
            </div>
            <div class="card-panel tab-bottom">
                <div class="row">
                    <div class="file-field input-field">
                        <div class="btn grey lighten-2">
                            <span>File</span>
                            <input type="file" id="item_image" name="item_image" />
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload item image" />
                            <span class="helper-text" data-success="right">Not required but ads with pictures are selling 5 times faster!</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Payment -->
            <div class="card-panel grey lighten-2 tab-top">
                <h6>
                    <strong>Payment:<span class="red-text">*</span></strong>
                </h6>
            </div>
            <div class="card-panel tab-bottom">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-euro-sign prefix"></i>
                        <input id="price" name="price" type="text" pattern="^[0-9]{1,6}$" class="validate" minlength="1" maxlength="6" data-length="20" required />
                        <label for="price">Item price:</label>
                    </div>
                    <div class="center-align">
                        <strong>Payment options:(multiple)</strong>
                        <ul class="list-inline">
                            <li>
                                <p>
                                    <label for="cash">
                                        <input type="checkbox" id="cash" name="cash" />
                                        <span>Cash</span>
                                    </label>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <label for="paypal">
                                        <input type="checkbox" id="paypal" name="paypal" />
                                        <span>PayPal</span>
                                    </label>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <label for="bitcoin">
                                        <input type="checkbox" id="bitcoin" name="bitcoin" />
                                        <span>BitCoin</span>
                                    </label>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Contact -->
            <div class="card-panel grey lighten-2 tab-top">
                <h6>
                    <strong>Contact:<span class="red-text">*</span></strong>
                </h6>
            </div>
            <div class="card-panel tab-bottom">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-map-marker-alt prefix"></i>
                        <select id="location" name="location" class="validate" required>
                            <option value="" disabled selected>Locations:</option>
                            {% for county in counties %}
                            <option value="{{county.county}}">{{county.county}}</option>
                            {% endfor %}
                        </select>
                        <label for="location">Select item location:</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="fas fa-phone prefix"></i>
                        <input id="phone" name="phone" type="text" pattern="^[0-9]{1,11}$" class="validate" minlength="1" data-length="20" required />
                        <label for="phone">Seller phone number:</label>
                    </div>
                </div>
            </div>
            <!-- Quick sale -->
            <div class="card-panel grey lighten-2 tab-top">
                <h6>
                    <strong>Quick sale? <i class="fas fa-hammer yellow-text text-accent-4"></i></strong>
                </h6>
            </div>
            <div class="card-panel tab-bottom">
                <div class="row">
                    <div class="input-field col s12">
                        <div class="switch">
                            <label for="urgent">
                                <input type="checkbox" id="urgent" name="urgent" />
                                <span class="lever"></span>
                                Let others know you will accept lower offer for quick sale.
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row center-align">
                <!-- Confirm add Modal Trigger -->
                <a class="modal-trigger btn waves-effect waves-light green" href="#modal1">Place ad</a>
            </div>
            <!-- Confirm add Modal Structure -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <div class="row center-align">
                        <div class="col s12">
                            <p class>
                                <strong> Are you sure you want to place this ad?</strong>
                            </p>
                        </div>
                        <!-- Submit button -->
                        <button class="modal-close btn waves-effect waves-light green" type="submit">Yes</button>
                        <!-- No button -->
                        <a class="modal-close btn waves-effect waves-light red">No</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
