{% extends 'base.html' %}
{% block content %}

<!-- flash message -->
<div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="row flashes">
        <p class="red lighten-5 center-align">{{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
<!-- Categories -->
<div class="grey lighten-4 ">
    <div class="container">
        <div class="row">
            <h5>Categories:</h5>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        {% for category in categories %}
        <div class="col s4 m2">
            <div>
                <a href="{{ url_for('view_category', category_name=category.category) }}">
                    <div class="icon-holder center-align">
                        <!-- Safe template filter to allow html tags -->
                        {{category.icon|safe}}
                    </div>
                    <div class="center-align">
                        {{category.category}}
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Recent ads -->
<div class="grey lighten-4">
    <div class="container">
        <div class="row">
            <h5>Recently added ads:</h5>
        </div>
    </div>
</div>
<!-- test -->
<div class="container">
    <div class="row">
        {% for ad in ads %}
        <div class="col s6 m3">
            <a href="{{ url_for('view_ad', ad_id=ad._id) }}">
                <div class="grey lighten-3 main-ad-holder">
                    <div class="white ad-img-holder">
                        <img src="{{url_for('img_uploads', filename=ad['item_image'])}}" alt="item_image">
                    </div>
                    <div class="row">
                        <div class="truncate"><strong>{{ ad.title }}</strong></div>
                        {% if ad.urgent == "on" %}
                        <div><b>&#8364;{{ ad.price }}</b> <i class="fas fa-hammer yellow-text text-accent-4 tooltipped"
                                data-position="bottom" data-tooltip="Price negotiable for quick sale."></i></div>
                        {% else %}
                        <div><b>&#8364;{{ ad.price }}</b></div>
                        {% endif %}
                        <div><small>{{ ad.location }}</small></div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}