{% extends 'base.html' %}
{% block content %}

<div>
    <!-- flash message -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="row flashes">
        <p class="red lighten-5 center-align">{{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>

<h4>Categories:</h4>

<div class="row categories">
    {% for category in categories %}
    <div class="col s4 m2">
        <div class="grey lighten-4">
            <a href="#">
                <div class="icon-holder center-align">
                    {{category.icon|safe}}
                </div>
                <div class="center-align">
                    {{category.category}}
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>

<h4>Recent added ads:</h4>

<div class="row">
    {% for ad in ads %}
    <div class="col s6 m3">
        <div class="grey lighten-4">
            <a href="#">
                <div class="img-holder center-align">
                    Image
                </div>
                <div class="col s7 m8 truncate"><strong>{{ ad.title }}</strong></div>
                <div class="col s5 m4 right-align"><strong>€{{ ad.price }}</strong></div>
                <div class="col s8">{{ ad.location }}</div>
                {% if ad.urgent == "on" %}
                <div class="col s4 right-align"><i class="fas fa-hammer yellow-text text-accent-4 tooltipped"
                        data-position="bottom" data-tooltip="Price negotiable for quick sale."></i></div>
                {% endif %}
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}