{% extends 'base.html' %}
{% block content %}

<!-- flash message -->
<div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="row flashes center-align">
        <p class="{{category}} white-text"><i class="fas fa-info-circle"></i> {{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
<!-- Categories -->
<div class="grey lighten-4">
    <div class="container">
        <div class="row">
            <h5>Manage categories:</h5>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Icon</th>
                    <th>Action</th>
                </tr>
            </thead>
            {% for category in categories %}
            <tbody>
                <tr>
                    <td>{{category.category}}</td>
                    <td>{{category.icon|safe}} {{category.icon}}</td>
                    <td><a href="{{ url_for('edit_category', category_id=category._id) }}"
                            class="waves-effect waves-light btn-small yellow black-text">Edit</a>
                        <span>or</span>
                        <a href="{{ url_for('delete_category', category_id=category._id) }}"
                            class="waves-effect waves-light btn-small red black-text">Delete</a></td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>
<div class="row center-align">
    <a href="{{ url_for('add_category') }}" class="waves-effect waves-light btn blue lighten-1">Add category</a>
</div>

<!-- Manage users -->
<div class="grey lighten-4">
    <div class="container">
        <div class="row">
            <h5>Manage users:</h5>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Action</th>
                </tr>
            </thead>
            {% for user in users %}
            <tbody>
                <tr>
                    <td>{{user.username}}</td>
                    <td>
                        <a href="#" class="waves-effect waves-light btn-small red black-text">Delete</a></td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}