{% extends 'base.html' %}
{% block content %}

<!-- flash message -->
<div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="row flashes center-align">
        <p class="{{category}} white-text"><i class="fas fa-info-circle"></i> {{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
<!-- Categories -->
<div class="grey lighten-4">
    <div class="container">
        <div class="row">
            <h5>Manage categories:</h5>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Icon</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                <tr>
                    <td>{{category.category}}</td>
                    <td>{{category.icon|safe}} {{category.icon}}</td>
                    <td><a href="{{ url_for('edit_category', category_id=category._id) }}"
                            class="waves-effect waves-light btn-small yellow black-text">Edit</a>
                        <span>or</span>
                        <!-- Delete category Modal Trigger -->
                        <a href="#del{{ category._id }}"
                            class="modal-trigger waves-effect waves-light btn-small red black-text">Delete</a></td>
                </tr>
                <!-- Delete category Modal Structure -->
                <div id="del{{ category._id }}" class="modal">
                    <div class="modal-content">
                        <div class="row center-align">
                            <div class="col s12">
                                <p>
                                    <strong> Are you sure you want to delete {{category.category}} category?</strong>
                                </p>
                                <p>You can't undo this actin.</p>
                            </div>
                            <!-- Cancel button -->
                            <a class="modal-close btn waves-effect waves-light red lighten-1"><i
                                    class="fas fa-times-circle"></i>
                                No</a>
                            <!-- Submit button -->
                            <a href="{{ url_for('delete_category', category_id=category._id) }}"
                                class="modal-close btn waves-effect waves-light green lighten-1">Yes <i
                                    class="fas fa-plus-circle"></i>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row center-align">
    <a href="{{ url_for('add_category') }}" class="waves-effect waves-light btn blue lighten-1">Add category</a>
</div>

<!-- Manage users -->
<div class="grey lighten-4">
    <div class="container">
        <div class="row">
            <h5>Manage users:</h5>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Action</th>
                </tr>
            </thead>
            {% for user in users %}
            <tbody>
                <tr>
                    <td>{{user.username}}</td>
                    <td>
                        <a href="{{ url_for('delete_user', username=user.username) }}"
                            class="waves-effect waves-light btn-small red black-text">Delete</a></td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>
<!-- Reported ads -->
<div class="grey lighten-4">
    <div class="container">
        <div class="row">
            <h5>Manage reported ads:</h5>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th>Ads</th>
                    <th>By</th>
                </tr>
            </thead>
            <tbody>
                {% for ad in ads %}
                {% if ad.reports %}
                <tr>
                    <td>{{ad.title}}</td>
                    <td>{{ad.created_by}}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}