{% extends 'base.html' %}
{% block content %}

<!-- flash message -->
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="row flashes center-align">
        <p class="{{category}} white-text"><i class="fas fa-info-circle"></i> {{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
<!-- Categories -->
<div class="row">
    <div class="grey lighten-4 ">
        <div class="container">
            <div class="row">
                <h5>Manage categories:</h5>
            </div>
        </div>
    </div>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Icon</th>
                    <th>Action</th>
                </tr>
            </thead>
            {% for category in categories %}
            <tbody>
                <tr>
                    <td>{{category.category}}</td>
                    <td>{{category.icon|safe}} {{category.icon}}</td>
                    <td><a href="#" class="waves-effect waves-light btn-small yellow black-text">Edit</a>
                        <span>or</span>
                        <a href="#" class="waves-effect waves-light btn-small red black-text">Delete</a></td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>
<!-- Recent ads -->
<div class="grey lighten-4">
    <div class="container">
        <div class="row">
            <h5>Recently added ads:</h5>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        {% for ad in ads %}
        <div class="col s6 m3 col-margin" id="col-padding">
            <a href="{{ url_for('view_ad', ad_id=ad._id) }}">
                <div class="grey lighten-3 main-ad-holder">
                    <div class="white ad-img-holder">
                        {% if ad.item_image %}
                        <img src="{{url_for('img_uploads', filename=ad['item_image'])}}" alt="item_image">
                        {% else %}
                        <img src="{{url_for('static', filename='images/no-image.png')}}" alt="default_recipe_image">
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="truncate"><strong>{{ ad.title }}</strong></div>
                        {% if ad.urgent == "on" %}
                        <div><b>&#8364; {{ ad.price }}</b> <i class="fas fa-hammer yellow-text text-accent-4 tooltipped"
                                data-position="bottom" data-tooltip="Price negotiable for quick sale."></i></div>
                        {% else %}
                        <div><b>&#8364; {{ ad.price }}</b></div>
                        {% endif %}
                        <div><small>{{ ad.location }}</small></div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}