{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('edit_ad', ad_id=ad._id) }}"
            enctype="multipart/form-data">
            <!-- Category -->
            <div class="card-panel grey lighten-2 tab-top">
                <h6><strong>Category:</strong></h6>
            </div>
            <div class="card-panel tab-bottom">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="far fa-folder-open prefix"></i>
                        <select id="category" name="category" class="validate" required>
                            <option value="" disabled>Categories:</option>
                            {% for category in categories %}
                            {% if category.category == ad.category %}
                            <option value="{{ category.category }}" selected>{{ category.category }}</option>
                            {% else %}
                            <option value="{{ category.category }}">{{ category.category }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <label for="category">Select item category:</label>
                    </div>
                </div>
            </div>
            <!-- Description -->
            <div class="card-panel grey lighten-2 tab-top">
                <h6><strong>Description:</strong></h6>
            </div>
            <div class="card-panel tab-bottom">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pen-alt prefix"></i>
                        <input id="title" name="title" type="text" class="validate" minlength="5" maxlength="20"
                            data-length="20" value="{{ ad.title }}" required>
                        <label for="title">Ad title:</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="far fa-file-alt prefix"></i>
                        <textarea id="description" name="description" class="validate materialize-textarea"
                            minlength="10" maxlength="300" data-length="300" required>{{ ad.description }}</textarea>
                        <label for="description">Describe your item:</label>
                    </div>
                </div>
            </div>
            <!-- Photo -->
            <div class="card-panel grey lighten-2 tab-top">
                <h6><strong>Photo:</strong></h6>
            </div>
            <div class="card-panel tab-bottom">
                <div class="row">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>File</span>
                            <input type="file" id="item_image" name="item_image">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" id="item_image_up" name="item_image_up" type="text" 
                            value="{{ad.item_image}}" placeholder="Upload item image">
                        </div>
                    </div>
                    <p><span class="red-text"></span>Not required but ads with pictures are selling 5 times faster!</p>
                </div>
            </div>
            <!-- Payment -->
            <div class="card-panel grey lighten-2 tab-top">
                <h6><strong>Payment:</strong></h6>
            </div>
            <div class="card-panel tab-bottom">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-euro-sign prefix"></i>
                        <input id="price" name="price" type="text" pattern="^[0-9]{1,5}$" class="validate" minlength="1"
                            maxlength="5" data-length="20" value="{{ ad.price }}" required>
                        <label for="price">Item price:</label>
                    </div>
                    <div class="center-align"><strong>Payment options:</strong>
                        <ul class="list-inline">
                            <li>
                                <p>
                                    <label for="cash">
                                        {% if ad.cash == 'yes' %}
                                        <input type="checkbox" id="cash" name="cash" checked/>
                                        {% else %}
                                        <input type="checkbox" id="cash" name="cash" />
                                        {% endif %}
                                        <span>Cash</span>
                                    </label>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <label for="paypal">
                                        {% if ad.paypal == 'yes' %}
                                        <input type="checkbox" id="paypal" name="paypal" checked/>
                                        {% else %}
                                        <input type="checkbox" id="paypal" name="paypal" />
                                        {% endif %}
                                        <span>PayPal</span>
                                    </label>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <label for="bitcoin">
                                        {% if ad.bitcoin == 'yes' %}
                                        <input type="checkbox" id="bitcoin" name="bitcoin" checked/>
                                        {% else %}
                                        <input type="checkbox" id="bitcoin" name="bitcoin" />
                                        {% endif %}
                                        <span>BitCoin</span>
                                    </label>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Contact -->
            <div class="card-panel grey lighten-2 tab-top">
                <h6><strong>Contact:</strong></h6>
            </div>
            <div class="card-panel tab-bottom">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-map-marker-alt prefix"></i>
                        <select id="location" name="location" class="validate" required>
                            <option value="" disabled selected>Locations:</option>
                            <option value="1">Dublin</option>
                            <option value="2">Cork</option>
                            <option value="3">Galway</option>
                        </select>
                        <label for="location">Select item location:</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="fas fa-phone prefix"></i>
                        <input id="phone" name="phone" type="text" pattern="^[0-9]{1,11}$" class="validate"
                            minlength="1" data-length="20" value="{{ ad.phone }}" required>
                        <label for="phone">Seller phone number:</label>
                    </div>
                </div>
            </div>
            <!-- Quick sale -->
            <div class="card-panel grey lighten-2 tab-top">
                <h6><strong>Quick sale? <i class="fas fa-hammer yellow-text text-accent-4"></i></strong></h6>
            </div>
            <div class="card-panel tab-bottom">
                <div class="row">
                    <div class="input-field col s12">
                        <div class="switch">
                            <label for="urgent">
                                {% if urgent == 'on' %}
                                <input type="checkbox" id="urgent" name="urgent" checked>
                                {% else %}
                                <input type="checkbox" id="urgent" name="urgent">
                                {% endif %}
                                <span class="lever"></span>
                                Let others know you will accept lower offer for quick sale.
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Submit button -->
            <div class="row center-align">
                <a href="{{ url_for('view_ad', ad_id=ad._id) }}" class="btn waves-effect waves-light red"
                    type="submit">Cancel</a>
                <button class="btn waves-effect waves-light" type="submit">Edit
                    <i class="far fa-edit"></i>
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}