{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('edit_category', category_id=category._id) }}" enctype="multipart/form-data">
            <!-- Category -->
            <div class="card-panel grey lighten-2 tab-top">
                <h6><strong>Category:</strong></h6>
            </div>
            <div class="card-panel tab-bottom">
                <!-- flash message -->
                <div>
                    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
                    <div class="row flashes center-align">
                        <p class="{{category}} white-text"><i class="fas fa-info-circle"></i> {{ message }}</p>
                    </div>
                    {% endfor %} {% endif %} {% endwith %}
                </div>
                <!-- Category -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="far fa-file prefix"></i>
                        <input id="category_name" name="category_name" type="text" value="{{ category.category }}" class="validate" required />
                        <label for="category_name">Category name:</label>
                    </div>
                    <!-- Icon -->
                    <div class="input-field col s12">
                        <i class="fab fa-font-awesome-flag prefix"></i>
                        <input id="icon" name="icon" type="text" class="validate" value="{{ category.icon }}" required />
                        <label for="icon">Font Awesome icon code:</label>
                    </div>
                </div>
            </div>
            <!-- Submit button -->
            <div class="row center-align">
                <button class="btn waves-effect waves-light" type="submit">
                    Submit
                    <i class="far fa-paper-plane"></i>
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
