{% extends 'base.html' %} {% block content %}
<!-- Page nav -->
<div class="row">
    <form class="col s12 m8 offset-m2 l6 offset-l3 center-align" method="POST" action="{{url_for('register')}}">
        <div class="card-panel grey lighten-4">
            <div class="title">
                <h4>Create Buy & Sell account</h4>
                <p>to buy and sell with us!</p>
            </div>
            <!-- flash message -->
            <div>
                {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
                <div class="row flashes center-align">
                    <p class="{{category}} white-text"><i class="fas fa-info-circle"></i> {{ message }}</p>
                </div>
                {% endfor %} {% endif %} {% endwith %}
            </div>
            <!-- Username input field -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user prefix"></i>
                    <input id="username" name="username" type="text" class="validate" minlength="3" maxlength="10" pattern="^[a-zA-Z0-9#?!@$%^&*-]{3,10}$" required />
                    <label for="username">Username</label>
                    <span class="helper-text left-align" data-success="right">3 - 10 characters and no spaces</span>
                </div>
            </div>
            <!-- Password input field -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-lock prefix"></i>
                    <input id="password" name="password" type="password" class="validate" pattern="^[a-zA-Z0-9#?!@$%^&*-]{5,}$" required />
                    <label for="password">Password</label>
                    <span class="helper-text left-align" data-success="right">Minimum 5 characters and no spaces</span>
                </div>
                <!-- Confirm password input field -->
                <div class="input-field col s12">
                    <i class="fas fa-key prefix"></i>
                    <input id="confirm" name="confirm" type="password" class="validate" />
                    <label for="confirm">Confirm Password</label>
                </div>
            </div>
            <!-- Register button -->
            <div class="row">
                <button class="btn waves-effect waves-light green lighten-1" type="submit">Register</button>
            </div>
        </div>
        <div class="card-panel grey lighten-2">Already have an account? <a href="{{ url_for('login') }}">Log in</a></div>
    </form>
</div>
{% endblock %}
