{% extends 'base.html' %}
{% block content %}

<!-- flash message -->
<div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="row flashes center-align">
        <p class="{{category}} white-text"><i class="fas fa-info-circle"></i> {{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
<div class="container">
    <div class="row mb-0">
        <div class="col s12">
            <h6><strong>{{ ad.title }}</strong></h6>
        </div>
    </div>
    <div class="row mb-0">
        <div class="col s12 m6">
            {% if ad.item_image %}
            <img class="materialboxed view-img" src="{{url_for('img_uploads', filename=ad['item_image'])}}"
                alt="item_image">
            {% else %}
            <img class="view-img" src="{{url_for('static', filename='images/no-image.png')}}"
                alt="default_recipe_image">
            {% endif %}
        </div>
        <div class="col s12 m6">
            {% if session.user == ad.created_by %}
            <a href="{{ url_for('edit_ad', ad_id=ad._id) }}"
                class="waves-effect waves-light btn-small yellow black-text">Edit</a>
            <span>or</span>
            <a href="{{ url_for('delete_ad', ad_id=ad._id) }}"
                class="waves-effect waves-light btn-small red black-text">Delete</a>
            <span>your ad</span>
            {% endif %}
            <div>
                {% if ad.urgent == "on" %}
                <h6 class="mb-0"><strong>Price: <i class="fas fa-hammer yellow-text text-accent-4 tooltipped"
                            data-position="bottom" data-tooltip="Price negotiable for quick sale."></i></strong>
                </h6>
                {% else %}
                <h6 class="mb-0"><strong>Price:</strong></h6>
                {% endif %}
                <p class="mt-0">&#8364; {{ ad.price }}</p>
            </div>
            <div>
                <h6 class="mb-0"><strong>Payment methods:</strong></h6>
                <ul class="list-inline mt-0">
                    {% if ad.cash == 'yes' %}
                    <li><i class="far fa-check-square"></i> Cash</li>
                    {% endif %}
                    {% if ad.paypal == 'yes' %}
                    <li><i class="far fa-check-square"></i> PayPal</li>
                    {% endif %}
                    {% if ad.bitcoin == 'yes' %}
                    <li><i class="far fa-check-square"></i> BitCoin</li>
                    {% endif %}
                </ul>
            </div>
            <div>
                <h6 class="mb-0"><strong>Seller info:</strong></h6>
                <ul class="mt-0 mb-0">
                    <li>Username: {{ad.created_by}}</li>
                    <li>Location: {{ ad.location }}</li>
                    {% if session.user %}
                    <li>Contact: {{ ad.phone }}</li>
                    {% else %}
                    <li>Contact: <small><a href="{{ url_for('login') }}">Log In</a> to see contact details</small>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="row mb-0">
        <div class="col s12">
            <h6 class="mb-0"><strong>Description:</strong></h6>
            <p class="mt-0 mb-0">{{ ad.description }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <ul class="list-inline mt-0 mb-0">
                <li><small>Ad views: {{ ad.views }}</small></li>
                <li><small>Entered: {{ ad.date }}</small></li>
                {% if ad.updated %}
                <li><small>Updated: {{ ad.updated }}</small></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}