{% extends 'base.html' %}
{% block content %}

<!-- flash message -->
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="row flashes center-align">
        <p class="{{category}} white-text"><i class="fas fa-info-circle"></i> {{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
<div class="container">
    <div class="row mb-0">
        <div class="col s12">
            <h6><strong>{{ ad.title }}</strong></h6>
        </div>
    </div>
    <div class="row mb-0">
        <div class="col s12 m6">
            {% if ad.item_image %}
            <img class="materialboxed view-img" src="{{url_for('img_uploads', filename=ad['item_image'])}}"
                alt="item_image">
            {% else %}
            <img class="view-img" src="{{url_for('static', filename='images/no-image.png')}}"
                alt="default_recipe_image">
            {% endif %}
        </div>
        <div class="col s12 m6">
            {% if session.user == ad.created_by or session.user == 'admin' %}
            <a href="{{ url_for('edit_ad', ad_id=ad._id) }}"
                class="waves-effect waves-light btn-small yellow black-text">Edit</a>
            <span>or</span>
            <a href="{{ url_for('delete_ad', ad_id=ad._id) }}"
                class="waves-effect waves-light btn-small red black-text">Delete</a>
            <span>your ad</span>
            {% endif %}
            <div>
                {% if ad.urgent == "on" %}
                <h6 class="mb-0"><strong>Price: <i class="fas fa-hammer yellow-text text-accent-4 tooltipped"
                            data-position="bottom" data-tooltip="Price negotiable for quick sale."></i></strong>
                </h6>
                {% else %}
                <h6 class="mb-0"><strong>Price:</strong></h6>
                {% endif %}
                <p class="mt-0">&#8364; {{ ad.price }}</p>
            </div>
            <div>
                <h6 class="mb-0"><strong>Payment methods:</strong></h6>
                <ul class="list-inline mt-0">
                    {% if ad.cash == 'yes' %}
                    <li><i class="far fa-check-square"></i> Cash</li>
                    {% endif %}
                    {% if ad.paypal == 'yes' %}
                    <li><i class="far fa-check-square"></i> PayPal</li>
                    {% endif %}
                    {% if ad.bitcoin == 'yes' %}
                    <li><i class="far fa-check-square"></i> BitCoin</li>
                    {% endif %}
                </ul>
            </div>
            <div>
                <h6 class="mb-0"><strong>Seller info:</strong></h6>
                <ul class="mt-0 mb-0">
                    <li>Username: {{ad.created_by}}</li>
                    <li>Location: {{ ad.location }}</li>
                    {% if session.user %}
                    <li>Contact: {{ ad.phone }}</li>
                    {% else %}
                    <li>Contact: <small><a href="{{ url_for('login') }}">Log In</a> to see contact details</small>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="row mb-0">
        <div class="col s12">
            <h6 class="mb-0"><strong>Description:</strong></h6>
            <p class="mt-0 mb-0">{{ ad.description }}</p>
        </div>
    </div>
    <div class="row mb-0">
        <div class="col s12">
            <ul class="list-inline mt-0 mb-0">
                <li><small>Ad views: {{ ad.views }}</small></li>
                <li><small>Entered: {{ ad.date }}</small></li>
                {% if ad.updated %}
                <li><small>Updated: {{ ad.updated }}</small></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <!-- Report ad Modal Trigger -->
            <a class="modal-trigger red-text" href="#modal1"><strong>Report Ad</strong></a>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card-panel grey lighten-2 tab-top-report">
                <h6 class="red-text"><strong>Reports:</strong></h6>
            </div>
            <div class="card-panel tab-bottom-report pt-0">
                <div class="row">
                    {{ ad.report }}
                </div>
                <!-- Delete reports Modal Trigger -->
                <div class="row center-align">
                    <a class="modal-trigger del-rep waves-effect waves-light btn red" href="#modal2">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Report ad Modal Structure -->
<div id="modal1" class="modal">
    <form method="POST" action="{{ url_for('report_ad', ad_id=ad._id) }}">
        <div class="modal-content">
            <div class="row">
                <div class="col s12">
                    <p class>
                        <strong> When browsing Buy & Sell, did you notice content that should not be on the
                            website? Report
                            this fact to us immediately!</strong>
                    </p>
                </div>
            </div>
            <div class="card-panel grey lighten-2 tab-top">
                <h6><strong>Report Ad</strong></h6>
            </div>
            <div class="card-panel tab-bottom">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="far fa-file-alt prefix"></i>
                        <textarea id="report" name="report" class="validate materialize-textarea" minlength="10"
                            maxlength="300" data-length="300" required></textarea>
                        <label for="report">Why are you reporting?</label>
                        <span class="helper-text" data-success="right">Minimum 10 characters</span>
                    </div>
                </div>
            </div>
            <div class="row center-align">
                <!-- Cancel button -->
                <a class="modal-close btn waves-effect waves-light red lighten-1" type="button"><i
                        class="fas fa-times-circle"></i> Cancel</a>
                <!-- Submit button -->
                <button class="btn waves-effect waves-light green lighten-1" type="submit"><i
                        class="fas fa-plus-circle"></i> Report
                </button>
            </div>
        </div>
    </form>
</div>
<!-- Delete reports Modal Structure -->
<div id="modal2" class="modal">
    <form method="POST" action="{{ url_for('report_ad', ad_id=ad._id) }}">
        <div class="modal-content">
            <div class="row center-align">
                <div class="col s12">
                    <p class>
                        <strong> Are you sure you want to delete all reports?</strong>

                    </p>
                    <p>You can't undo this action.</p>
                </div>
                <!-- Cancel button -->
                <a class="modal-close btn waves-effect waves-light red lighten-1"><i class="fas fa-times-circle"></i>
                    No</a>
                <!-- Submit button -->
                <a href="{{ url_for('delete_report', ad_id=ad._id) }}" class="btn waves-effect waves-light green lighten-1"><i class="fas fa-plus-circle"></i>
                    Yes
                </a>
            </div>
        </div>
    </form>
</div>

{% endblock %}