{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col s12">
        Title:
    </div>
</div>
<div class="row">
    <div class="col s12 m6">
        Image
    </div>
    <div class="col s12 m6">
        <ul>
            <li><strong>Asking price:</strong></li>
            <li>$$$$$$$$$$</li>
        </ul>
        <ul>
            <li>Seller info:</li>
            <li>Username:</li>
            <li>Location:</li>
            <li>Contact:</li>
        </ul>
    </div>
    <div class="row">
        Description:
    </div>
</div>

{% endblock %}